* {
    padding: 0;
    margin: 0;
}

header {
    
        display: inline-block;
        font-size: 1rem;
        padding: 7px 0;
        position: relative;
        transition: color .2s;
}
.nav {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.logo {
    width: 300px;
}
.menu {
    display: flex;
    justify-content: space-between;
}