@media(max-width: 800px) {
    .btn-blue {
        background-color: aqua;
    }
}

@media(max-width: 500px) {
    .btn-blue {
        background-color: rgb(143, 27, 137);
    }

    .blocos {
       
        flex-direction: column;
    }

    .blocos div {
        font-size: 1rem;        
    }
}