div {
   
    
}

p {
   
}

.inline {
    
}

 span {
   
    background-color: aqua;
    border: solid 1px black;
  
}

.inline-flex {
    display: inline-block;
    width: 150px;
    height: 200px;
}
p {
    display: none;
}